<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="UTF-8">
	<meta charset="ISO-8859-1">
	<title>ShopFandresena</title>
</head>
<body>
<section>
	<div class="container p-5">
		<p class="text-center fs-3 mt-4">Tableau de Bord Administrateur</p>
		<div class="row p-5">
			<div class="col-md-4 mt-2">
				<a href="/admin/loadAddProduct" class="text-decoration-none">
					<div class="card modern-card gradient-primary shadow-lg border-0">
						<div class="card-body text-center text-white">
							<i class="fa-solid fa-square-plus fa-3x mb-3"></i>
							<h5 class="fw-bold">Ajouter un Produit</h5>
						</div>
					</div>
				</a>
			</div>

			<div class="col-md-4 mt-2">
				<a href="/admin/category" class="text-decoration-none">
					<div class="card modern-card gradient-warning shadow-lg border-0">
						<div class="card-body text-center text-white">
							<i class="fa-solid fa-list fa-3x mb-3"></i>
							<h5 class="fw-bold">Ajouter une Catégorie</h5>
						</div>
					</div>
				</a>
			</div>

			<div class="col-md-4 mt-2">
				<a href="/admin/products" class="text-decoration-none">
					<div class="card modern-card gradient-success shadow-lg border-0">
						<div class="card-body text-center text-white">
							<i class="fa-solid fa-table-list fa-3x mb-3"></i>
							<h5 class="fw-bold">Voir les Produits</h5>
						</div>
					</div>
				</a>
			</div>

			<div class="col-md-4 mt-4">
				<a href="/admin/orders" class="text-decoration-none">
					<div class="card modern-card gradient-info shadow-lg border-0">
						<div class="card-body text-center text-white">
							<i class="fa-solid fa-box-open fa-3x mb-3"></i>
							<h5 class="fw-bold">Commandes</h5>
						</div>
					</div>
				</a>
			</div>

			<div class="col-md-4 mt-4">
				<a href="/admin/users?type=1" class="text-decoration-none">
					<div class="card modern-card gradient-primary shadow-lg border-0">
						<div class="card-body text-center text-white">
							<i class="fa-solid fa-circle-user fa-3x mb-3"></i>
							<h5 class="fw-bold">Utilisateurs</h5>
						</div>
					</div>
				</a>
			</div>

			<div class="col-md-4 mt-4">
				<a href="/admin/add-admin" class="text-decoration-none">
					<div class="card modern-card gradient-warning shadow-lg border-0">
						<div class="card-body text-center text-white">
							<i class="fa-solid fa-user-plus fa-3x mb-3"></i>
							<h5 class="fw-bold">Ajouter un Administrateur</h5>
						</div>
					</div>
				</a>
			</div>

			<div class="col-md-4 mt-4">
				<a href="/admin/users?type=2" class="text-decoration-none">
					<div class="card modern-card gradient-success shadow-lg border-0">
						<div class="card-body text-center text-white">
							<i class="fa-solid fa-circle-user fa-3x mb-3"></i>
							<h5 class="fw-bold">Administrateurs</h5>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-4 mt-4">
				<a href="/admin/statistics" class="text-decoration-none">
					<div class="card modern-card gradient-info shadow-lg border-0">
						<div class="card-body text-center text-white">
							<i class="fa-solid fa-chart-bar fa-3x"></i>
							<h4 class="mt-2">Statistiques</h4>
						</div>
					</div>
				</a>
			</div>

			<div class="col-md-4 mt-4">
				<a href="/admin/exports" class="text-decoration-none">
					<div class="card modern-card gradient-success shadow-lg border-0">
						<div class="card-body text-center text-white">
							<i class="fa-solid fa-file-export fa-3x"></i>
							<h4 class="mt-2">Exports</h4>
						</div>
					</div>
				</a>
			</div>

			<div class="col-md-4 mt-4">
				<a href="/admin/calculator" class="text-decoration-none">
					<div class="card modern-card gradient-warning shadow-lg border-0">
						<div class="card-body text-center text-white">
							<i class="fa-solid fa-calculator fa-3x"></i>
							<h4 class="mt-2">Calculateur</h4>
						</div>
					</div>
				</a>
			</div>


		</div>
	</div>
</section>
</body>
</html>
