<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="UTF-8">
	<meta charset="ISO-8859-1">
	<title>ShopFandresena</title>
</head>
<body>
<section>
	<div class="container mt-5 p-5">
		<div class="row">
			<div class="col-md-6 offset-md-3 text-center">
				<i class="fa-solid fa-circle-check fa-5x text-success"></i>
				<p class="fs-3">Commande de produit réussie</p>
				<p class="fs-4">Le produit sera livré Dans 7 jours</p>
				<div class="text-center">
					<a href="/" class="btn btn-primary">Accueil</a> <a href="/user/user-orders"
																	   class="btn btn-primary">Votre commande</a>
				</div>
			</div>
		</div>

	</div>
</section>
</body>
</html>
